print ('hello')

In [6]:
print(20)

20

In [ ]:
a=2
b=4
c=a+b
print (c)

In [ ]:
s='helxlkdkjgagjqjo'
s[2:3]

In [124]:
a=[1,2,3,4,5,6,7,8,9]
b=['a','b','c']

In [20]:
c=a[-2::-2]
print(c)

[4, 2, 0]

In [138]:
c=a[1::2]
print(c)

[2, 4, 6, 8]

In [50]:
b[2]='new'
print(b)

['a', 'b', 'new', '1', '1', '1', '1']

In [62]:
d={'k':1,'k2':2,'list':[1,2,3]}
a=d['list']
print(a)

[1, 2, 3]

nested dic

In [64]:
d1={'k1':{'nk2':[5,6,7],'nk3':{'n2':[11,22,33],'n3':[44,55,66]}}}

In [65]:
a=d1['k1']['nk3']['n3'][1]
print(a)

55

In [66]:
a=[1,2,3]

In [67]:
a[1]='new'
print(a)

[1, 'new', 3]

In [68]:
t=(4,5,6)
print(t)

(4, 5, 6)

In [75]:
s={1,2,3,1,2,2,2,2,2,2,}

In [76]:
print(s)

{1, 2, 3}

In [79]:
s.add(1)

In [80]:
print(s)

{1, 2, 3, 4}

1<2

In [114]:
if 1==2:
    print(b)
elif 1==3 :
    print(3)
else:
        print(a)

5

In [88]:
1<2 | 2<3 | 1>2

True

In [162]:
a=5
b=1
if 1<2:
    print(a)
else:
    print(b)
print('my name is {x}'.format(x=a))

5
my name is 5

In [172]:
d={'s':[1,2,3,4,5,6,7,8],2:3}

def is_key_present(x):
    if x in d:
        print('{a} is present'.format(a=x))
    else:
          print('{a} is not present'.format(a=x))
        
is_key_present('s1')

s1 is not present

In [8]:
d={'s':[1,2,3,4,5],'s1':[11,22,33,44],'s2':[111,222]}
a=d['s1']
print(a[-2::1])

[33, 44]

In [11]:
for i in a :
    print('a')

a
a
a
a

In [7]:
i=1
while i<=5:
    print('a is {}'.format('*'))

    i=i+1

a is *
a is *
a is *
a is *
a is *

In [1]:
a=list(range(6))
b=[]
for i in a:
    b.append(i**2)
print(b)

[0, 1, 4, 9, 16, 25]

In [21]:
a=list(range(5))
b=[]
for i in a:
    b.append(i+1)
print(b)

[1, 2, 3, 4, 5]

In [1]:
i=2
b=[]
while i<5:
    b.append(i)
    i=i+1
    
print(b)

[2, 3, 4]

In [32]:
c=[i**2 for i in b]
print(c)

[4, 9, 16]

In [31]:
def square(i):
    out=i*i
    return out
i=121
print('Square of {} is {}'.format(i,square(i)))

Square of 121 is 14641

In [19]:
 for i in range(5):
        print('Square of {} is {}'.format(i,square(i)))

Square of 0 is 0
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16

In [29]:
d={'s':[1,2],'s2':[3,41]}
d2={'s2':[3,4]}
d3={}
for i in (d,d2):
    d3.update(i)
print(d3)
for i in d3{}{
    print()
}

{'s': [1, 2], 's2': [3, 4]}

In [39]:

def square(i):
    out=i*i
    return out
square(5)
c=[1,2,3,4]
list(map(square,c))

[1, 4, 9, 16]

In [43]:
d=[]
for i in c:
    d.append(square(i))
print(d)

[1, 4, 9, 16]

In [69]:
c=[1,2,6,7,8,9,12,11,34,55]
b=c.pop()
print(b)
list(filter(lambda i:i%2 != 0,c))

55

[1, 7, 9, 11]

In [59]:
s='hello my name is SUNNY #rockstar#fun#yo'

a=s.split('#')
a[1:]

['rockstar', 'fun', 'yo']

In [65]:
d={'s':1,'s2':2}
d.keys()
d.values()

dict_values([1, 2])

In [84]:
x=[(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [73]:
for i in x:
    print(i)

(1, 2, 3)
(3, 4)
(5, 6)

In [85]:
for a,b in x:
    print(b)

2
4
6

In [2]:
i=" helo @ gmail com"
count=0
ab="hello"
if ab.startswith(ab)=="h":
    flag=True
    print(flag)

In [99]:
a=[]
count=0
def countDog(i):
    count=0
    a=i.split()
    for k in a:
        if k=="dog":
            
            count=count+1
    return count
    
countDog('This dog runs faster than the other dog dude!')

2

In [3]:
i=12;
if i<10:
    print("I is smaller than 10")
elif i==10:
    print("Equael")
print("gerater")

gerater