In [1]:
a='how are your dog m dog'

In [36]:
b=a.split(" ")
c="a shs sh k"
z=c.upper()
type(z)

str

In [31]:



def countdog(a):
    b=a.split(" ")
    count=0
    for i in b:
        
        if i.lower()=="dog":
            count=count+1
    return count
Z='How Dg are in dog and dog'
countdog(Z)

2

In [1]:
""""""
"a'd"d

""""""

SyntaxError: invalid syntax (<ipython-input-1-e5e6b755478f>, line 2)

In [7]:
a=[1,2,3,4,4,5,6,3,4,5,6,7,8,9,0,8,6,]
a[1:8:2]

[2, 4, 5, 3]

In [15]:
class person:
    def __init__(self,name,surname,DOB):
        self.name=name
        self.surname=surname
        self.DOB=DOB
  

Alec=person("alec","yadav",1777)
print(Alec.surname)

yadav

In [4]:
print("%s %s was born in %d" % (john.name,john.surname,john.DOB))

Sunny yadav was born in 1994

In [30]:

def myreduce(func,l):
    a=l[0]
    for i in  range(1,len(l)):
        a=func(a,l[i])
    return a
def func(x,y):
    return x+y
    
myreduce(func,[2,4,3,7,7,22,4,3,3])

55

In [31]:
def myfilter(func,l):
    return func(l)
        
p=[]
def func(l):
    for i in l:
        if i%2==0:
            p.append(i)
    return p

myfilter(func,[1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [5]:
l=["ss","gshs","q"]
a=list(map(lambda x:len(x),l))
a

[2, 4, 1]

In [2]:
import pandas as pd
pd.__version__

'0.25.1'

In [4]:
default=pd.read_excel('C:/Users/sunny.yadav/Downloads/code_pandas1/examples/test1.xlsx',sheet_name = "APAC")
default.head(5)

,Name,IP Address,Assigned to,RansomeWare Status,Remarks,Power State,Domain,InSCCM,Virtual/Physical,Manufacturer,Windows / Non Windows,Operating System,Description
0,APDCDAP0005,10.98.20.73,NaN,NaN,NaN,PoweredOn,NMC,YES,Virtual,"VMware, Inc.",Windows,Microsoft Windows Server 2008 R2,CMS
1,APDCDAP0006,10.98.20.76,NaN,NaN,NaN,PoweredOn,NMC,YES,Virtual,"VMware, Inc.",Windows,Microsoft Windows Server 2008 R2,PI Applications Test Server
2,APDCDAP0007,10.96.196.78,NaN,NaN,NaN,PoweredOn,NMC,YES,Virtual,"VMware, Inc.",Windows,Microsoft Windows Server 2008 R2,NBG-PI Development Server
3,APDCDAP0008,10.98.20.91,NaN,NaN,NaN,PoweredOn,NMC,YES,Virtual,"VMware, Inc.",Windows,Microsoft Windows Server 2008 R2,NBG Heat Test application server
4,APDCDDB0001,10.96.196.79,NaN,NaN,NaN,PoweredOn,NMC,YES,Virtual,"VMware, Inc.",Windows,Microsoft Windows Server 2008 R2,Dedicated Dev SQL Server

In [46]:
import pandas as pd
default=pd.read_excel("\Users\sunny.yadav\Downloads\Newmont.xlsx")
default

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (<ipython-input-46-574549a85f76>, line 2)

In [2]:
import pandas as pd

In [3]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"
BB_data = pd.read_html(url)
BB_data[0].head(5)[['Rk','Player','Age','PTS']]

  Rk         Player Age   PTS
0  1     Quincy Acy  24   398
1  2   Jordan Adams  20    94
2  3   Steven Adams  21   537
3  4    Jeff Adrien  28    60
4  5  Arron Afflalo  29  1035

In [7]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')
titanic_train[['Pclass','PassengerId','Name']]

     Pclass  PassengerId                                               Name
0         3            1                            Braund, Mr. Owen Harris
1         1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         3            3                             Heikkinen, Miss. Laina
3         1            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         3            5                           Allen, Mr. William Henry
..      ...          ...                                                ...
151       1          152                  Pears, Mrs. Thomas (Edith Wearne)
152       3          153                                   Meo, Mr. Alfonzo
153       3          154                    van Billiard, Mr. Austin Blyler
154       3          155                              Olsen, Mr. Ole Martin
155       1          156                        Williams, Mr. Charles Duane

[156 rows x 3 columns]

In [1]:
import pandas as pd

In [13]:
result= pd.read_csv("ex6.csv")
result.head(5)

FileNotFoundError: [Errno 2] File b'ex6.csv' does not exist: b'ex6.csv'

In [30]:
result1= pd.read_csv("C:/Users/sunny.yadav/Downloads/code_pandas1/examples/ex5.csv")
result1

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
result1.to_csv("out.csv",sep="@")

In [22]:
import sys

In [24]:
result1.to_csv(sys.stdout,na_rep='Null')

,something,a,b,c,d,message
0,one,1,2,3.0,4,Null
1,two,5,6,Null,8,world
2,three,9,10,11.0,12,foo

In [32]:
result1.to_csv("out1.csv",index=False, columns=['a','b','c'])
result1

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [39]:
import numpy as np
dates= pd.date_range('1/1/2000',periods=7)
st=pd.Series(np.arange(7),index=dates)
ts=st.to_csv('Tseries.csv')
st

C:\Users\sunny.yadav\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [40]:
import csv

In [44]:
f=open('C:/Users/sunny.yadav/Downloads/code_pandas1/examples/ex7.csv')
reader = csv.reader(f)
for i in reader:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [46]:
with open ('C:/Users/sunny.yadav/Downloads/code_pandas1/examples/ex7.csv') as f:
    lines=list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [47]:
header,values=lines[0],lines[1:]

In [48]:
dict1 ={h:v for h,v in zip(header,zip(*values))}
dict1

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [49]:
for h,v in zip(header,zip(*values)):
    print(v)

('1', '1')
('2', '2')
('3', '3')

In [5]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [6]:
import json
result= json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [9]:
asjson = json.dumps(result)
import pandas as pd

In [12]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age','pets']) 
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [14]:
data= pd.read_json('C:/Users/sunny.yadav/Downloads/code_pandas1/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
tables= pd.read_html('C:/Users/sunny.yadav/Downloads/code_pandas1/examples/fdic_failed_bank_list.html')
failures=tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [27]:
result1= pd.read_csv("C:/Users/sunny.yadav/Downloads/code_pandas1/examples/ex1.csv")
result1.to_pickle('frame')

In [29]:
r=pd.read_pickle('frame')
r

    dasd Unnamed: 1
0    NaN        NaN
1    NaN     adadsa
2  asdad        NaN

In [33]:
import numpy as np
frame = pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('myData.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: myData.h5

In [37]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
response = requests.get(url)
response
data =response.json()
data[1]['user']

{'login': 'rhshadrach',
 'id': 45562402,
 'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
 'avatar_url': 'https://avatars1.githubusercontent.com/u/45562402?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/rhshadrach',
 'html_url': 'https://github.com/rhshadrach',
 'followers_url': 'https://api.github.com/users/rhshadrach/followers',
 'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
 'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
 'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
 'repos_url': 'https://api.github.com/users/rhshadrach/repos',
 'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
 'type': 'User',
 'site_admin': False}

In [48]:
result=pd.DataFrame(data,columns=['number','title','labels','state'])
result

,number,title,labels,state
0,36678,CLN: test_moments_rolling.py for mean/std/var/...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
1,36677,CLN/TYP: aggregation methods in core.base,[],open
2,36675,Testing on ci - BUG: Datetime MultiIndex Regre...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
3,36674,CLN: cleanups in DataFrame._reduce,[],open
4,36671,[MRG] TST: Added test for groupby apply dateti...,[],open
5,36668,REGR: fillna not filling NaNs after pivot with...,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
6,36666,DEPR deprecate pd.to_timedelta('1 M') and pd.t...,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
7,36662,test_pivot_empty on windows py_3.8_32 and linu...,"[{'id': 563047854, 'node_id': 'MDU6TGFiZWw1NjM...",open
8,36660,DEPR: DateOffset args don't end in 's',"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
9,36657,CLN: More pytest idioms in pandas/tests/window,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
10,36656,ASV: used integer ndarray as indexer for Serie...,[],open
11,36655,BUG: DataFrame.pivot drops column level names ...,[],open
12,36654,CLN: dont special-case DatetimeArray indexing,[],open
13,36653,CLN: de-duplicate IntervalArray validators,[],open
14,36651,QST: Error importing pandas,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
15,36650,DOC: Fix remaining typos in docstrings 'handle...,[],open
16,36649,DEPR: min_periods=None behavior for Rolling.count,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
17,36648,TST: GH23452 test reorder_categories() on cate...,[],open
18,36647,ENH: match stdlib behavior for datetimelike co...,[],open
19,36645,"REF: privatize in core.missing, remove unused ...",[],open
20,36643,TYP: selection and groups type-hinting in groupby,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
21,36642,CI: Deduplicate linting checks,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
22,36641,CLN: cleanup DataFrameInfo,[],open
23,36639,CFG use black profile in setup.cfg for isort,[],open
24,36637,CI: pd.core.reshape.pivot.crosstab doctest is ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,36635,TST: GH 32431 check print label indexing on nan,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
26,36634,ENH: infer freq in timedelta_range,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
27,36629,CLN: Improve setting of resample deprecation w...,[],open
28,36628,TST: check whether printing an IntervalIndex w...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
29,36626,CI: add py38 slow build #35160,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open